{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "corejs": 3,
            "useBuiltIns": "usage"
          }
        ],
        "@babel/preset-flow"
      ],
      "plugins": ["add-module-exports"],
      "comments": false
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "corejs": 3,
            "useBuiltIns": "usage"
          }
        ],
        "@babel/preset-flow"
      ],
      "plugins": ["add-module-exports", "istanbul"],
      "comments": false
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "corejs": 3,
            "useBuiltIns": "usage"
          }
        ],
        "@babel/preset-flow"
      ],
      "plugins": ["add-module-exports"],
      "comments": false
    }
  }
}
